.header {
    width: 100%;
    background: #fefffb;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header.icon {
    width: auto;
    height: 68px;
}

.header .fa.fa-bell {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    color: #cccccc;
}

.header .fa.fa-bell:hover {
    color: #8b8b8b;
}

.header .fa.fa-product-hunt {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    color: #faac1c;
}

.notification-wrp {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}

.notification-msg-wrp {
    margin-top: 30px;
    color: aliceblue;
    bottom: calc(100%+20px);
    right: 0;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.85;
}

.notification-msg-failed {
    box-shadow: 0 0 6px 1px #8b2222;
    background-color: #8b2222;
}

.notification-msg-success {
    box-shadow: 0 0 6px 1px #228B22;
    background-color: #228B22;
}

.container {
    display: flex;
    background: white;
}

.btn {
    align-items: flex-start;
    --font-size: var(--font-size);
    height: 100%;
    width: 100%;
    background: var(--color, white);
    color: white;
    border: none;
}

.join {
    height: 40px;
    width: 80px;
    cursor: pointer;
    border: none;
    background: var(--color, rgb(77, 77, 255));
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.join:hover {
    background-color: rgb(0, 0, 223);
}

.icon {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon>* {
    flex: 1 0 0;
    display: flex;
}

.icon {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn.js {
    font-style: normal;
    font-size: 9em;
    text-align: right;
    color: black;
    --color: #e8c15f;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bolder;
}

.js {
    font-style: normal;
    font-size: 1.5em;
}

.btn.php {
    flex: 1;
    font-size: 5em;
    font-style: oblique;
    color: black;
    --color: #7f9ebd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.php {
    font-style: normal;
    font-size: 1.5em;
}

.btn.java {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    --color: #d13d3d;
}

.java {
    font-style: normal;
    font-size: 1.5em;
}

.btn.dotnet {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    --color: #5e246d
}

.dotnet {
    font-style: normal;
    font-size: 1.5em;
}

.btn.qa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    --color: #7cb07c;
}

.qa {
    font-style: normal;
    font-size: 1.5em;
}

.btn.events {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex: 2;
    --color: #37b3f8;
}

.scroll-block {
    overflow-y: auto;
    height: 100%;
}

.btn.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex: 2;
    --color: #1c7ce0;
}

.btn.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex: 1;
    --color: DarkBlue;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-facebook-square:hover {
    color: blue;
}

.fa.fa-telegram:hover {
    color: blue;
}

.fa.fa-instagram:hover {
    color: blue;
}

.flex-direcation-row {
    flex-direction: row;
}

.flex-direcation-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #eaeff4;
}

.widgets {
    height: 60%;
    width: 80%;
    margin: auto;
}

.center-items {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*centers items on the line (the x-axis by default)*/
    align-items: center;
    /*centers items on the cross-axis (y by default)*/
}

.position-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.position-absolute {
    position: absolute;
}

.z-index-inactive {
    z-index: -1;
}

.hover-z-index:hover .z-index-inactive {
    z-index: 2;
    transition: all 2s linear;
}

.hide-animation {
    opacity: 1;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.hover-z-index:hover .hide-animation {
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.button-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fa-size {
    font-size: 30px;
    margin: 6px;
}

.header-width {
    width: 80%;
    margin: auto;
    height: 100%;
    margin-top: 15px;
}

.inline-block {
    display: inline-block;
}

.notification-icon {
    margin-right: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown>input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.dropdown>label, .dropdown>a[role="button"] {
    display: inline-block;
    color: white;
    background-color: #e8c15f;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.dropdown>label:hover, .dropdown>a[role="button"]:hover, .dropdown>a[role="button"]:focus {
    border-color: #333;
}

.dropdown>ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -100vw;
    top: calc(1.5em + 20px);
    border: 1px solid #8c8c8c;
    background: #fff;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
}

.dropdown>ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown>ul a:hover, .dropdown>ul a:focus {
    background: #ececec;
}

.dropdown>input[type="checkbox"]:checked~ul, .dropdown>ul:target {
    left: 0;
}

.dropdown a.close {
    display: none;
}

.dropdown>ul:target~a.close {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.flex-wrap {
    flex-wrap: wrap;
}

.container-min-width {
    min-width: 300px;
}